<!--
  Generated template for the TruckPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>truck</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngIf="!isCaptured">
  <div padding>
    <ion-segment [(ngModel)]="truck">
      <ion-segment-button value="1">
          1
        </ion-segment-button>
          
        <ion-segment-button value="2">
          2
        </ion-segment-button>

        <ion-segment-button value="3">
          3
        </ion-segment-button>

          <ion-segment-button value="4">
            4
          </ion-segment-button>

          <ion-segment-button value="5">
            5
          </ion-segment-button>

      </ion-segment>
    </div>
    
    <div class="question" [ngSwitch]="truck">
    <ion-list *ngSwitchCase="'1'">
    <ion-item no-lines>
      <span>Where is the truck located?</span>
    </ion-item>

    <ion-input type="text" [(ngModel)]="location" placeholder="Street Name, Location"></ion-input>
    <button ion-button small (click)="next1()" outline>next</button>
  </ion-list>
    
  <ion-list no-lines *ngSwitchCase="'2'">
    <ion-item>
    <span>What is the time operation of the truck?</span>
    </ion-item>

    <ion-input type="text"  [(ngModel)]="time" placeholder="E.g 09:00-16:00"></ion-input>
    <button ion-button small (click)="back2()" outline>back</button> 
    <button ion-button small  (click)="next2()" outline>next</button>
  </ion-list>

  <ion-list *ngSwitchCase="'3'">
  <ion-item no-lines>
  <span text-wrap>how many liters does the truck offer per water station.</span>
  </ion-item>

  <ion-input type="text" [(ngModel)]="liters" placeholder="E.g 375 liters of water each week "></ion-input>
  <button ion-button small (click)="back3()" outline>back</button> 
  <button ion-button small (click)="next3()" outline>next</button>
</ion-list>

  <ion-list *ngSwitchCase="'4'" radio-group [(ngModel)]="reliable">
  <ion-item no-lines>
  <span>How realiable is the truck service? </span>
  </ion-item>
  <ion-item>
    <ion-label>Good</ion-label>
    <ion-radio value="good"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Poor</ion-label>
    <ion-radio value="poor"></ion-radio>
  </ion-item>
  <button ion-button small (click)="back4()" outline>back</button> 
  <button ion-button small (click)="next4()" outline>next</button>
  </ion-list>

  <ion-list *ngSwitchCase="'5'">
  <ion-item no-lines>
  <span text-wrap>How many days is the truck available in a week?</span>
  </ion-item>

  <ion-input type="text"  [(ngModel)]="days" placeholder="E.g 3 days in a  week "></ion-input>
  <div *ngIf="!isBack">
    <button ion-button small (click)="back5()" outline>back</button>
  </div>
  <div *ngIf="isBack">
    <button ion-button small (click)="backChange()" outline>undo</button> 
  </div>
  <div>
    <button ion-button small (click)="next5()" [disabled]="isSubmit" outline>done</button>  
  </div>
  </ion-list>
  </div>
</div>
<div class="question" *ngIf=" ">
    <span>The water truck is recorded, thank you for capturing data for us!</span>
    <br>
    <br>
    <span>Do you want to record another truck?</span>
    <br>
    <button ion-button (click)="yes()" outline>Yes,please.</button>  
    <button ion-button (click)="no()" outline>No,thanks!</button>  
  </div>
</ion-content>
<ion-footer>
  <button ion-button icon-only block color="dark"  [disabled]="!isSubmit" (click)="tapdata(data1)" outline>submit</button>
</ion-footer>