page-truck {
    h4{
        color:#005792;
    }

    .content{

        background-color:#edf9fc;
    }
    .scroll-content {
        overflow: hidden !important;
    }
    button {
        
        cursor: pointer;
        &.outline {
            position: relative;
            z-index: 3;
            height:50px;
            width:150px;
            background: transparent;
            color:#005792;
            font-size: 14px;
            border-color:transparent;
            border-style: solid;
            border-width:1px;
            border-radius:5px;
            padding:10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
         
            background: transparent;
            border-color:transparent;
            transition: all 0.2s linear;
        }
        &.outline:active {
            border-radius: 22px;
        }
    
}
   .icon{
    font-size:4.5rem;
   }

    
    span{
       
          color:#005792;
          font-size:Larger;
          font-weight: bold;
        
    
    }
    .container{
     
        display: flex;
        justify-content:center;
        align-content:left;
        align-items:center;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        padding: 10px 15px;

        .name-holder {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }
  
    }
    .item1{

        background-color: transparent;
        width:330px;
        border-radius:5px;
        color: #005792;
        cursor: pointer
    }
   
    .segment{

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding:0 5px 0 5px;
        .segment-button{
            max-height:10.5rem;
        }
    }

    .footer{

            cursor: pointer;
            // position: relative;
            // z-index: 3;
            background:#d1f4fa;
            // color:#005792;
            border-color:transparent;
            border-style: solid;
            border-width:1px;
          
         
          
            // text-transform: uppercase;
            // transition: all 0.2s linear;
            // a {
            //     text-decoration: none;
            // }
    
    }

    .op{
        
        // background-color: rgba(0.0,0.0,0.0,0.1);
        width:330px;
        border-radius:5px;
        color: #005792;
        cursor: pointer;
        // position: relative;
        // z-index: 3;
        background:transparent;
        // color:#005792;
        border-color:#b1e6f0;
        border-style: solid;
        border-width:2px;
      
    }
    .op1{

        
         width:330px;
         border-radius:5px;
         color: #005792;
         cursor: pointer;
         // position: relative;
         // z-index: 3;
         background-color:transparent;
         // color:#005792;
         border-color:#b1e6f0;
         border-style:solid;
         border-width:2px;
       
    }
    .op2{

        
        width:200px;
        height:45px;
        color: #005792;
        background-color:transparent;
   
   }

    .but1{

        height:45px;
        width:315px;
        position: relative;
        z-index: 3;
        background: transparent;
        color:#005792;
        font-size: 14px;
        border-color: #005792;
        border-style: solid;
        border-width: 2px;
        border-radius:0px;
        padding: 0px 5px;
        text-transform: uppercase;
        transition: all 0.1s linear;
        a {
            text-decoration: none;
        }

    }
    .items{

        height:45px;
        position: relative;
        z-index: 3;
        width:315px;
        background:transparent;
        color:#005792;
        font-size: 14px;
        border-color: #005792;
        border-style: solid;
        border-width: 2px;
        border-radius:5px;
        padding: 0px 0px;
        text-transform: uppercase;
        transition: all 0.1s linear;
        a {
            text-decoration: none;
        }
        }
        ion-label{
            color:#005792;


        }

    .item3{
        background-color: transparent;
    }



    
}
.alertcss{

    button{
        color:#005792;
    }
    .alert-wrapper{
        background:#edf9fc;
       color:#005792;
       
       
   }
}
