<!--
  Generated template for the TruckPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary"  text-center>
    <ion-title>Truck Questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div  *ngIf="!isCaptured">
  <div padding>
    <ion-segment [(ngModel)]="truck">
      <ion-segment-button value="1">
        
        </ion-segment-button>
          
        <ion-segment-button value="2">
          
        </ion-segment-button>

        <ion-segment-button value="3">
          
        </ion-segment-button>

          <ion-segment-button value="4">
         
          </ion-segment-button>

          <ion-segment-button value="5">
           
          </ion-segment-button>

      </ion-segment>
    </div>
    
    <div class="container" [ngSwitch]="truck">
    <ion-list no-lines *ngSwitchCase="'1'">
    <ion-item no-lines text-center class="item1">
      <span>Where is the truck located?</span>
    </ion-item>

    <ion-input type="text" [(ngModel)]="location" placeholder="Street Name, Location" class="outline"></ion-input>
    <div padding style="text-align:center">
      <button ion-button small class="outline"  color="light" (click)="next1()">next</button>  
    </div> 
  </ion-list>
    
  <ion-list no-lines *ngSwitchCase="'2'">
    <ion-item no-lines text-center class="item1">
    <span>What is the time operation of the truck?</span>
    </ion-item>

    <ion-input type="text"  [(ngModel)]="time" placeholder="E.g 09:00 am-16:00 pm" class="outline"></ion-input>
    <div padding style="text-align:center">
    <button ion-button small  class="outline"  color="light" (click)="back2()">back</button> 
    <button ion-button small class="outline"  color="light"  (click)="next2()" >next</button>
    </div>
    </ion-list>

  <ion-list *ngSwitchCase="'3'">
  <ion-item no-lines text-center class="item1">
  <span text-wrap>how many liters does the truck offer per water station.</span>
  </ion-item>

  <ion-input type="text" [(ngModel)]="liters" placeholder="E.g 375 liters of water each week " class="outline"></ion-input>
  <div padding style="text-align:center">
  <button ion-button small class="outline"  color="light" (click)="back3()" >back</button> 
  <button ion-button small class="outline"  color="light" (click)="next3()">next</button>
  </div>
</ion-list>

  <ion-list *ngSwitchCase="'4'" radio-group [(ngModel)]="reliable" class="outline">
  <ion-item no-lines text-center class="item1">
  <span>How realiable is the truck service? </span>
  </ion-item>
  <ion-item class="item1">
    <ion-label>Good</ion-label>
    <ion-radio value="good"></ion-radio>
  </ion-item>
  <ion-item class="item1">
    <ion-label>Poor</ion-label>
    <ion-radio value="poor"></ion-radio>
  </ion-item>
  <div padding style="text-align:center">
  <button ion-button small class="outline"  color="light"  (click)="back4()" >back</button> 
  <button ion-button small class="outline"  color="light"  (click)="next4()" >next</button>
</div>
  </ion-list>

  <ion-list *ngSwitchCase="'5'">
  <ion-item no-lines text-center class="item1">
  <span text-wrap>How many days is the truck available in a week?</span>
  </ion-item>

  <ion-input type="text"  [(ngModel)]="days" placeholder="E.g 3 days in a  week " class="outline"></ion-input>
  <div style="text-align:center" *ngIf="!isBack">
    <button ion-button small class="outline"  color="light"  (click)="back5()" >back</button>
  </div>
  <div style="text-align:center" *ngIf="isBack">
    <button ion-button small class="outline"  color="light"  (click)="backChange()" >undo</button> 
  </div>
  <div style="text-align:center">
    <button ion-button small class="outline"  color="light"  (click)="next5()" [disabled]="isSubmit">done</button>  
  </div>
  </ion-list>
  </div>
</div>
<div class="container" *ngIf="isCaptured">
    <h4>The water truck is recorded, thank you for capturing data for us!</h4>
    <br>
    <br>
    <h4>Take another truck survey?</h4>
    <br>
    <button ion-button   class="outline"  color="light" (click)="yes()">Yes,please.</button>  
    <button ion-button  class="outline"  color="light" (click)="no()">No,thanks!</button>  
  </div>
</ion-content>
<ion-footer>
    <div *ngIf="hide">
        <button ion-button block full class="outline" type="submit" [disabled]="!isSubmit" (click)="tapdata()" outline>submit</button>
      </div>
</ion-footer>