page-coordst {
    .content{
    

        background-color: #edf9fc;
    }
    .scroll-content {
      overflow: hidden !important;
  }
      #map {
        height:100%;
        width:100%;
      }
}
