<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <ion-title text-center>WaterService</ion-title>
    <ion-buttons end>
        <button ion-button outline small  color="secondary" (click)="changeTap()" >Taps</button>
        <button ion-button outline small  color="danger" (click)="changeTruck()">Trucks</button>
    <button ion-button (click)="profile()">
    <ion-icon name="person"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content padding class="content">
  <h2 text-center>{{name}}</h2>
 <div *ngIf="isTap" text-center>
    <ion-card *ngFor="let tap of listTaps;let i=index" text-center>
      <ion-item>
        <span>{{tap.id}}</span>
        <span>{{tap.id}}</span>
        <span>{{tap.time}}</span>
        <span>{{tap.reliable}}</span>
        <span>{{tap.safety}}</span>
      </ion-item>
      <button ion-button small outline color="primary" (click)="takePhotoTap(tap.key)"><ion-icon name="add"></ion-icon></button>
    </ion-card>
 </div>
 <div *ngIf="isTruck">
    <ion-card *ngFor="let truck of listTrucks;let i=index" text-center>
      <ion-item>
        <span>{{truck.id}}</span>
        <span>{{truck.time}}</span>
        <span>{{truck.liters}}</span>
        <span>{{truck.reliable}}</span>
        <span>{{truck.safety}}</span>
        <button ion-button small outline color="primary" (click)="takePhotoTruck(truck.key)"><ion-icon name="add"></ion-icon></button>
      </ion-item>
    </ion-card>
 </div>
 
<ion-fab bottom right slot="fixed">
<button  ion-fab color="primary" (click)="add()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-fab bottom left slot="fixed">
<button ion-fab color="primary"><ion-icon name="map"></ion-icon></button>
</ion-fab>


</ion-content>
