page-home {
    .content{
    
        background-color: #edf9fc;
       
    }
    .scroll-content {
        overflow: hidden !important;
    }
    .container{
        
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        padding: 10px 15px;
    }
    .app-name {
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: #005792;
        font-weight: bolder;
        margin-right:2px;
    }
    button {
        color: #005792;
        color: #005792;
        cursor: pointer;
        outline: none;
       
        &.outline {
            position: relative;
            z-index: 3;
            background: transparent;
            color:#005792;
            font-size: 14px;
            border-color: #005792;
            border-style: solid;
            border-width: 2px;
            border-radius:0px;
            padding: 10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
            color: #edf9fc;
            background:#005792;
            border-color: #005792;
            transition: all 0.2s linear;
        }
        &.outline:active {
            border-radius: 22px;
        }
    }
    ion-card{
       
    &.outline {
           background-color:transparent;
           border-radius:50%;
           height:200px;
           width:200px;
           left:50px;
           position: relative;
            z-index: 3;
            color:#53cde2;;
            font-size: 14px;
            border-color: #005792;;
            border-style: solid;
            border-width: 2px;
            padding: 10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
            &.outline:hover {
                color: #edf9fc;
                background:#d1f4fa;
                border-color: #005792;
                transition: all 0.2s linear;
            }
            &.outline:active {
                border-radius:50%;
            }
    }
    h1{
        left:50px;
    }
    
    .div_icon{
        padding:5px;
         
    }
    
    .title {
        align-content: center;
        align-items: center;
        justify-content: center;
        padding:10px;
        color: #005792;
        font-weight: bolder;
       left:25px;
    }
    ion-grid{
        background-color:transparent;
        border-radius:5%;
        height:500px;
        width:400px;
    }
}