page-tap {
    h4{
        color:#005792;
    }

    .content{

        // background-color:#edf9fc;
        background-color:whitesmoke;
    }
    .scroll-content {
        overflow: hidden !important;
    }
    .op{
        
        // background-color: rgba(0.0,0.0,0.0,0.1);
        width:330px;
        border-radius: 5px;
        color: #005792;
        cursor: pointer;
        // position: relative;
        // z-index: 3;
        background:transparent;
        // color:#005792;
        border-color:#b1e6f0;
        border-style: solid;
        border-width:2px;
      
    }
    .op1{

        background-color:#edf9fc;
    }
    button {
        
        cursor: pointer;
      
       
        &.outline {
            position: relative;
            z-index: 3;
            height:50px;
            width:150px;
            background: transparent;
            color:#005792;
            font-size: 14px;
            border-color:t#005792;
            border-style: solid;
            border-width:1px;
            border-radius:5px;
            padding:10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
            color:lightgrey;
            background:#d1f4fa;
            border-color:#d1f4f4;
            transition: all 0.2s linear;
        }
        &.outline:active {
            border-radius: 22px;
        }
    
}
   .icon{
    font-size:4.5rem;
   }

    
    span{
       
          color:#005792;
          font-size:Larger;
          font-weight: bold;
        
    
    }
    .container{
     
        display: flex;
        justify-content:center;
        align-content:left;
        align-items:center;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        padding: 10px 15px;

        .name-holder {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }
  
    }
    .item1{

        background-color: transparent;
        width:330px;
        border-radius:5px;
        color: #005792;
        cursor: pointer
    }

    ion-input {
      
        border: 2px solid #cecece;
        margin-left:20px solid;
        width:100%;
        height:40px;
  
           
        &.outline {
            position: relative;
            z-index: 3;
            background: transparent;
            color:black;
            font-size: 14px;
            border-color: #005792;
            border-style: solid;
            border-width: 2px;
            border-radius:0px;
            padding: 0px 5px;
            text-transform: uppercase;
            transition: all 0.1s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
            color:black;
            background:#edf9fc;
            border-color:#005792;
            transition: all 0.1s linear;
        }
        // &.outline:active {
        //     border-radius: 22px;
        // }
    }
   
    .segment{

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding:0 5px 0 5px;
        .segment-button{
            max-height:10.5rem;
        }
    }

    .footer{

            cursor: pointer;
            // position: relative;
            // z-index: 3;
            background:#d1f4fa;
            // color:#005792;
            border-color:transparent;
            border-style: solid;
            border-width:1px;
          
         
          
            // text-transform: uppercase;
            // transition: all 0.2s linear;
            // a {
            //     text-decoration: none;
            // }
    
    }
    
  
}
.alertcss{

    button{
        color:#005792;
    }
    .alert-wrapper{
        background:#d1f4fa;
       color:#005792;
       
       
   }
}

