<!--
  Generated template for the TapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary"  text-center>
    <ion-title>Tap Questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
<div *ngIf="!isCaptured">
  <ion-segment [(ngModel)]="tap">

    <ion-segment-button value="1"></ion-segment-button>
            
    <ion-segment-button value="2"></ion-segment-button>

    <ion-segment-button value="3"></ion-segment-button>
  </ion-segment>
    
  <div class="container" [ngSwitch]="tap">
    <ion-list *ngSwitchCase="'1'">
    <ion-item no-lines text-center class="item1">
    <span>What time is the tap accessible?</span>
    </ion-item>
    <br><br>
    <ion-item class="op" >
      <ion-label color="primary">Openning time</ion-label>
      <ion-select [(ngModel)]="starttime">
        <ion-option *ngFor="let start of startTime">{{start}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item class="op">
      <ion-label color="primary">Closing time</ion-label>
      <ion-select [(ngModel)]="endtime">
        <ion-option  *ngFor="let start of endTime">{{start}}</ion-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-footer class="footer">
    <div padding style="text-align:center">
     <button ion-button clear  class="outline" (click)="back2()"><ion-icon name="undo"></ion-icon></button> 
        <button ion-button clear class="outline"  (click)="next2()" ><ion-icon name="checkmark"></ion-icon></button>        
</div>
</ion-footer>
 
    </ion-list>
    <ion-list *ngSwitchCase="'2'" radio-group [(ngModel)]="reliable" class="outline">
    <ion-item no-lines text-center  class="item1">
    <span>Is the tap working?</span>
    </ion-item>

    <br><br>  
    <ion-item class="op">
      <ion-label>Yes</ion-label>
      <ion-radio value="Yes"></ion-radio>
    </ion-item>
    <br>
    <ion-item class="op">
      <ion-label>No</ion-label>
      <ion-radio value="No"></ion-radio>
    </ion-item>
   
    <ion-footer class="footer">
      <div padding style="text-align:center">
       <button ion-button clear  class="outline" (click)="back4()"><ion-icon name="undo"></ion-icon></button> 
          <button ion-button clear class="outline"  (click)="next4()" ><ion-icon name="checkmark"></ion-icon></button>        
  </div>
  </ion-footer>
    </ion-list>
   
   <ion-list *ngSwitchCase="'3'" radio-group [(ngModel)]="safety" class="outline">
     <ion-item no-lines text-center  class="item1">
      <span text-wrap>Is the tap water clean?</span>
      </ion-item>
      
      <br><br>
      <ion-item  class="op">
        <ion-label>Yes</ion-label>
        <ion-radio value="Yes"></ion-radio>
      </ion-item>
      <br>
      <ion-item  class="op">
        <ion-label>No</ion-label>
        <ion-radio value="No"></ion-radio>
      </ion-item>
      <!-- <div padding style="text-align:center" *ngIf="!isBack">
        <button ion-button small  class="outline"  color="light"  (click)="back5()">back</button>
      </div> -->
      <!-- <br><br>
      <div padding style="text-align:center" *ngIf="isBack">
        <button ion-button block full class="outline"   color="light" (click)="backChange()" >undo</button> 
      </div>
      <div padding style="text-align:center">
         <button ion-button small class="outline"  color="light" (click)="next5()" [disabled]="isSubmit" >done</button>   -->
        <!-- <button ion-button block full class="outline"  (click)="next5()" [disabled]="isSubmit" >Done</button>
      </div> --> 


      <ion-footer class="footer">
  
        <div padding style="text-align:center">
         <button ion-button clear  class="outline" (click)="backChange()" ><ion-icon name="undo"></ion-icon></button> 
            <button ion-button clear class="outline"  (click)="next5()" [disabled]="isSubmit" ><ion-icon name="done-all"></ion-icon></button>        
    </div>
    </ion-footer>
  </ion-list>
  
</div>
</div>
<div  class="container" *ngIf="isCaptured">
  <h4>The tap is recorded, thank you for capturing data for us!</h4>
  <br>
  <br>
  <h4>Take another tap survey?</h4>
  <br><br><br><br>
  <button ion-button  class="outline"  color="light" (click)="yes()" outline>Yes,please.</button>  
  <button ion-button  class="outline"  color="light" (click)="no()" outline>No,thanks!</button>  
</div>
</ion-content>

<ion-footer>
  <div *ngIf="hide">
    <button ion-button block full class="outline" type="submit" [disabled]="!isSubmit" (click)="tapdata()" outline>submit</button>
  </div>
</ion-footer>