page-tap {
    ion-input {
        background-color: #F3F3F3;
        border: 2px solid #cecece;
        // padding-left: 2px;
        margin-left: 20px;
        width: 80%;
        height: 80px;
    }

}
