page-signin {
    .content{
      
        background-color:#edf9fc;
    }
    .scroll-content {
        overflow: hidden !important;
    }
    .container{

    
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        padding:0px 5px;
       

        .name-holder {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px 15px;

            .logo {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background: linear-gradient(270deg,#005792, #4d606e);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url("../assets/imgs/appLogo1.png");
    
                -webkit-animation: AnimationName 30s ease infinite;
                -moz-animation: AnimationName 30s ease infinite;
                animation: AnimationName 30s ease infinite;

                @-webkit-keyframes AnimationName {
                    0%{background-position:0% 50%}
                    50%{background-position:100% 50%}
                    100%{background-position:0% 50%}
                }
                @-moz-keyframes AnimationName {
                    0%{background-position:0% 50%}
                    50%{background-position:100% 50%}
                    100%{background-position:0% 50%}
                }
                @keyframes AnimationName { 
                    0%{background-position:0% 50%}
                    50%{background-position:100% 50%}
                    100%{background-position:0% 50%}
                }
    }

    .app-name {
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: #005792;
        font-weight: bolder;
        margin-right:2px;
    }
    }

        .form-holder {
            width: 100%;
            padding:20px
        }
    .items {

        height:4px;
        position: relative;
        z-index: 3;
        background:transparent;
        color:#005792;
        font-size: 14px;
        border-color: #005792;
        border-style: solid;
        border-width: 2px;
        border-radius:5px;
        padding: 0px 0px;
        text-transform: uppercase;
        transition: all 0.1s linear;
        a {
            text-decoration: none;
        }
        ion-input {
     
            color:#005792;
           
            &.outline {
                position: relative;
                z-index: 3;
                background: transparent;
                color:#005792;
                font-size: 14px;
                border-color: #005792;
                border-style: solid;
                border-width: 2px;
                border-radius:5px;
                padding: 0px 5px;
                text-transform: uppercase;
                transition: all 0.1s linear;
                a {
                    text-decoration: none;
                }
            }
            &.outline:hover {
                color:#005792;
                background:#edf9fc;
                border-color:#005792;
                transition: all 0.1s linear;
            }
            // &.outline:active {
            //     border-radius: 22px;
            // }

        }
        ion-label{
            color:#005792;


        }
        .icon{
            color:#edf9fc;
           
        }
      }

    button {
        color: #005792;
        color: #005792;
        cursor: pointer;
        outline: none;
        
       
        &.outline {
            position: relative;
            z-index: 3;
            width:325px;
            background: transparent;
            color:#005792;
            font-size: 14px;
            border-color: #005792;
            border-style: solid;
            border-width:2px;
            border-radius:5px;
            padding: 10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
            color:#edf9fc;
            background:#005792;
            border-color:#005792;
            transition: all 0.2s linear;
        }
        &.outline:active {
            border-radius: 22px;
        }
    }
}
#button1{

    
      
    background:#005792;
    width:50px;
       
       
   
        }
       


}