page-signin {
    .content{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("../assets/imgs/bg.jpg");
    }
    .scroll-content {
        overflow: hidden !important;
    }
    .container{

        background-color: rgba(0.0,0.0,0.0,0.7);
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        padding: 10px 15px;
       

        .name-holder {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px 15px;

            .logo {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background: linear-gradient(270deg, whitesmoke, #4d606e);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url("../assets/imgs/appLogo1.png");
    
                -webkit-animation: AnimationName 30s ease infinite;
                -moz-animation: AnimationName 30s ease infinite;
                animation: AnimationName 30s ease infinite;

                @-webkit-keyframes AnimationName {
                    0%{background-position:0% 50%}
                    50%{background-position:100% 50%}
                    100%{background-position:0% 50%}
                }
                @-moz-keyframes AnimationName {
                    0%{background-position:0% 50%}
                    50%{background-position:100% 50%}
                    100%{background-position:0% 50%}
                }
                @keyframes AnimationName { 
                    0%{background-position:0% 50%}
                    50%{background-position:100% 50%}
                    100%{background-position:0% 50%}
                }
    }

    .app-name {
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: whitesmoke;
        font-weight: bolder;
        margin-right:2px;
    }
    }

        .form-holder {
            width: 100%;
            padding:20px;
        }
    .items {
        background-color: transparent;

        color:whitesmoke;
        .input {
     
            color:whitesmoke;
            padding:15;

        }
        .label{
            color:whitesmoke;
        }
        .icon{
            color:#488aff;

        }
      }

    button {
        color: whitesmoke;
        color: white;
        cursor: pointer;
        outline: none;
       
        &.outline {
            position: relative;
            z-index: 3;
            background: transparent;
            color:whitesmoke;
            font-size: 14px;
            border-color: whitesmoke;
            border-style: solid;
            border-width: 2px;
            border-radius:0px;
            padding: 10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
            color: white;
            background:#144c52;
            border-color: white;
            transition: all 0.2s linear;
        }
        &.outline:active {
            border-radius: 22px;
        }
    }
    #button1 {

        border-radius:0px;
    }
}
 .con{

    background-color: rgba(0.0,0.0,0.0,0.20);
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 15px;
    border-radius:5%;



 }
}
