<ion-content no-padding class="content">

     
  <div class="container">
    

<form [formGroup]="userForm" class="form-holder" (ngSubmit)="resetPassword()" novalidate>

  <div>
  <br>
      <h2 align="center">Reset your password</h2>  

<ion-item no-lines class="items" [ngClass]="{'error-border':!userForm.get('email').valid && userForm.get('email').touched}">
 
 <ion-input  type="email" placeholder="Email" formControlName="email">        
  </ion-input>
  <button ion-button large  item-start icon-only id="button1"><ion-icon small name="mail" item-start class="icon"></ion-icon></button>

</ion-item>

   <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="invalid">
    <p ion-text color="danger">Email field is required!</p>
   </div>

    <div *ngIf="userForm.get('email').hasError('minlength') && userForm.get('email').touched" class="invalid">
    <p ion-text color="danger">* Enter a valid Email with 10 or more characters!</p>
    </div>

    <div padding  style="text-align:center" >    
    <button ion-button block full class="outline" type="submit" color="light" [disabled]="!userForm.valid">Reset password</button>     
    </div>

    <div  style="text-align:center" padding>
      <p style="color:#005792" class="p">Return to <a style="color:#53cde2"(click)="gotosignin()">login</a></p>
  </div>

  </div>



</form>

</div>
</ion-content>