  <ion-content no-padding class="content">

     
      <div class="container">
        
  
    <form [formGroup]="userForm" class="form-holder" (ngSubmit)="resetPassword()" novalidate>

      <div>
      <br>
          <h2 align="center">Reset your password</h2>  
  
    <ion-item  class="items" [ngClass]="{'error-border':!userForm.get('email').valid && userForm.get('email').touched}">
    <ion-label floating>Email</ion-label>
  
    <ion-input  class="input"  type="email" formControlName="email"></ion-input>
    </ion-item>
  
       <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="invalid">
        <p ion-text color="danger">Email field is required!</p>
       </div>
  
        <div *ngIf="userForm.get('email').hasError('minlength') && userForm.get('email').touched" class="invalid">
        <p ion-text color="danger">* Enter a valid Email with 10 or more characters!</p>
        </div>
  
        <div padding  style="text-align:center" >    
        <button ion-button block full class="outline" type="submit" color="light" [disabled]="!userForm.valid">Reset password</button>     
        </div>

        <div  style="text-align:center" padding>
            <p style="color:#f5f5f5" class="p"><a style="color:#f5f5f5"(click)="gotosignin()">Return to login</a></p>
        </div>

      </div>

 
  
    </form>
  
  </div>
    </ion-content>