page-signup {
    h2{
        color:#005792;  
    }
    .content{
    
     background-color:#edf9fc;
    }
    .scroll-content {
        overflow: hidden !important;
    }
    .container{
        display: flex;
        justify-content:center;
        align-content:left;
        align-items:center;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        padding: 10px 15px;

        .name-holder {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
  
  
    }
    .form-holder {
            width: 100%;
            padding: 20px;
        }
    .items {
        background-color: transparent;
        color:#005792;
        .input {
     
            color:#005792;
           
        }
        .label{
            color:#005792;
        }
     
      }
      button {
        color: #005792;
        color: #005792;
        cursor: pointer;
        outline: none;
        &.outline {
            position: relative;
            z-index: 3;
            background: transparent;
            color:#005792;
            font-size: 14px;
            border-color: #005792;
            border-style: solid;
            border-width: 2px;
            border-radius:0px;
            padding: 10px 15px;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                text-decoration: none;
            }
        }
        &.outline:hover {
            color: #edf9fc;
            background:#005792;
            border-color: #005792;
            transition: all 0.2s linear;
        }
        &.outline:active {
            border-radius: 22px;
        }
    }
    #button1 {
        border-radius:50px;
    }
}


}